.b-moments {
  width: 700px;
  margin: 0 auto 50px;
}

.b-moments__item {
  margin: 20px 0 0;
  padding: 20px;
  background: #fff;
  transition: .3s all;

  &:first-child {
    margin: 0;
  }

  &:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  }
}

.b-moments__info {
  margin: 0 0 10px;
}

.b-moments__info-left {
  float: left;
  white-space: nowrap;
}

.b-moments__info-image-inner,
.b-moments__info-user-inner {
  display: inline-block;
  vertical-align: middle;
}

.b-moments__info-image-inner {
  margin: 0 10px 0 0;
  width: 50px;
}

.b-moments__avatar {
  max-width: 100%;
  border-radius: 50%;
}

.b-moments__info-right {
  float: right;
  font-size: 16px;
}

.b-moments__image-inner {
  margin: 10px 0 0;
}

.b-moments__image {
  max-width: 100%;
  max-height: 300px;
}

.b-moment__actions {
  margin: 20px 0 0;
}

.b-moment__actions-link {
  color: #666;
  cursor: pointer;

  &._state_active {
    .b-moment__actions-icon {
      color: #c00;
    }
  }

  &:hover {
    color: #c00;
  }
}

.b-moment__actions-icon,
.b-moment__actions-text {
  display: inline-block;
  vertical-align: middle;
}

.fa.b-moment__actions-icon {
  font-size: 22px;
}

.b-moment__actions-text {
  margin: 0 0 0 5px;
  font-style: normal;
}